{% extends 'basepage.html'%}
{% load static%}
{% block titleword %}
    關於我
{% endblock %}
{% block container %}
<section class="section-padding">
	<div class="container"> 
        <div class="row justify-content-center">
            <div style="min-height: 42vh;">    
                <label class="form-label" >關於 N x N 的使用</label>
                <p class="mt-5 mb-5">本網站創建初衷是希望能夠優化使用者搜尋體驗、提供個性化推薦以及支援安全下載的小說平台。
                    其中內容僅用於學術研究和學習交流。所有資料和信息僅作為參考用途，請勿用於任何商業活動或盈利行為。</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}