{% extends 'basepage.html'%}
{% load static%}
{% block titleword %}
    註冊
{% endblock %}
{% block container %}
<section class="section-padding">
	<div class="container"> 
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">註冊</p>
                
                <form action= "{% url 'register' %}" method="post" class="mx-1 mx-md-4">
                    {% csrf_token %}
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example1c">Your Name</label>                            
                            <input type="text" id="form3Example1c" class="form-control" name="name" placeholder="王大明" value="{{nameinput}}"/>
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <p class="mb-1" style="color: #c80707;">{{error}}</p>                            
                                {% endfor %}                                
                            {% endif %}
                        </div>
                    </div>
        
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c2">Your Email</label>                            
                            <input type="email" id="form3Example3c2" class="form-control" name="email" placeholder="example@gmail.com" value="{{emailinput}}"/>
                            <p class="mb-1" style="color: #c80707;">{{emerror}}</p>
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <p class="mb-1" style="color: #c80707;">{{error}}</p>                            
                                {% endfor %}                                
                            {% endif %}
                        </div>
                    </div>
        
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4c3">Password</label>
                            <input type="password" id="form3Example4c3" class="form-control" name="password"/>
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <p class="mb-1" style="color: #c80707;">{{error}}</p>                            
                                {% endfor %}                                
                            {% endif %}
                        </div>
                    </div>
        
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4cd4">Repeat your password</label>
                            <input type="password" id="form3Example4cd4" class="form-control" name="checkpw"/>                            
                            {% if form.checkpw.errors %}
                                {% for error in form.checkpw.errors %}
                                    <p class="mb-1" style="color: #c80707;">{{error}}</p>                            
                                {% endfor %}                                
                            {% endif %}
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <input type="submit" class="btn btn-primary btn-lg" value="Register"/>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}