{% extends 'basepage.html'%}
{% load static%}
{% block titleword %}
    搜尋
{% endblock %}
{% block container %}
<!--9/27更新內容-->            
<section class="section-padding">
	<div class="container"> 
        <form action= "{% url 'searchanser' %}" method="post">
            {% csrf_token %}
            <div class="d-flex align-items-center mb-3 pb-1">
                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                <span class="h1 fw-bold mb-0">N x N</span>
            </div>
            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">搜尋</h5>
            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    
                    <input type="text" id="form3Example4c" class="form-control" name="searchword" placeholder="作者／書名"/>
                    
                </div>
            </div>

            <div class="pt-1 mb-4">
                <input type="submit" class="btn btn-dark btn-lg btn-block" value="確認"/>                
            </div>                       
        </form>
    </div>
</section>

{% endblock %}
